 fieldset {
      border: 0;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
     /* margin-left: 300px;*/
}
label {
      display: block;
      text-align: center;
      
}
select {
      width: 200px;
}
 
#circle {
      margin-left: auto;
	  margin-right: auto;
      background-image: url(../images/init.jpg);
      background-repeat: no-repeat;
      background-size: 100px 100px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
      width: 100px;
      height: 100px;
}